
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<style>

    #chudeHienThi {
        display: none;
    }

    #nxbHienThi {
        display: none;
    }

    #anleftslider {
        display: none;
    }
</style>
<h2>GioiThieu</h2>

