
@{
    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<style>

    #chudeHienThi {
        display: none;
    }

    #nxbHienThi {
        display: none;
    }

    #anleftslider {
        display: none;
    }
</style>
<div>
    <h3 style="font-size:22px;margin-left:10px; ">Nhấn vào <a href="@Url.Action("Index","Home")"><strong>đây</strong></a> để trở về trang chủ.</h3>
        <video controls="controls" style="width:900px;height:500px;margin-left:18%;">
            <source src="~/Content/videoHuongDan/videoHuongDan.mp4" type="video/mp4" />
        </video> />

</div>

