

@using BookStore.Models;
@model List<NhaXuatBan>

@{
    ViewBag.Title = "hienThiDanhMucNXB";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<link href="~/Content/cssChuDe/chude.css" rel="stylesheet" />

<style>
    #nxbleft {
        display: none;
    }
</style>
<div id="chude" style="width:370px;">
    @{ int i = 0;}
    @{
        <hr style="padding:0;margin:0;border:none;background-color:black;margin-bottom:10px;" />

        <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;clear:both;font-size:20px;font-weight:400;margin-left:2%;margin-top:1%"> <h2>Tất cả nhà xuất bản: </h2>  </div>
        foreach (var item in Model)
        {
            <a style="text-decoration:none;margin-top:5px;width:270px;margin-left:10px;" href="@Url.Action("hienThiTacCaNXB", new { @maNXB = item.MaNXB })" class="button button-submit btn-primary"><span>@item.TenNXB</span></a>
            <br />
        }
    }
</div>

@*<div id="chude" style="width:370px">

            <hr style="padding:0;margin:0;border:none;background-color:black;margin-bottom:10px;" />
            <div style="">
                <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;clear:both;font-size:20px;font-weight:400;margin-left:2%;margin-top:1%"> <h2>Tất cả chủ đề: </h2>  </div>
                @foreach (var item in Model)
                {
                    <a style="text-decoration:none;margin-top:5px;width:270px;margin-left:10px;" href="@Url.Action("timSachTheoChuDe", new { @maChuDe = item.MaChuDe })" class="button button-submit btn-primary"><span>@item.TenChuDe</span></a>
                    <br />
                }
            </div>

    </div>*@

