
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <link href="~/Content/adminlogin/style.css" rel="stylesheet" />
</head>
<body>
    @*<div class="box" >*@

    <form class="box" action="/Admin/Admin" method="post" >
        <h1>Login</h1>
        <input type="text" name="userName" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="btnSubMit" value="Login">

    </form>
     

        
    @*</div>*@

    </body>

</html>
